@page "/"
@using ClassLibrary.Data;


<h1>Dashboard</h1>
<br>
<div class="width60">
    <div class="optionboxes">
        <div id="status-image" class="mat-layout-grid-cell">
            <p>MAGNA3</p>
            <image class="image" src="images/pumpe.png"></image>
        </div>
        <div id="status-image" class="mat-layout-grid-cell">
            <p>No warning/alarm</p>
            <image class="image" src="images/green_circle.png"></image>
        </div>
        <div id="status-image" class="mat-layout-grid-cell">
            @*<p>Speed: @pumpInfo.Speed rpm</p>
            <br>
            <p>Control mode: @pump.ControlMode</p>
            <p>Operating mode: @pump.OperatingMode</p>
            <p>Setpoint: @pump.Setpoint m</p>*@
            @*@if(pumpInfo != null)
            {
                <p>@pumpInfo.Name + @pumpInfo.Flow + @pumpInfo.Frequence + @pumpInfo.PowerUsage</p>
            }*@
        </div>
    </div>
</div>


<br>
<br>
<MatButton Unelevated="true" Icon="settings_remote" Id="first-row-button">Control Mode</MatButton>
<MatButton Unelevated="true" Icon="settings_remote" Id="first-row-button">Operating Mode</MatButton>
<MatButton Unelevated="true" Icon="control_point" Id="first-row-button">Setpoint</MatButton>
<MatButton Unelevated="true" Icon="clear" Id="first-row-button">Stop</MatButton>
<br>
<br>
<MatButton Unelevated="true" Id="second-row-button">Status</MatButton>
<MatButton Unelevated="true" Id="second-row-button">Settings</MatButton>
<MatButton Unelevated="true" Id="second-row-button">Scheduling (Enabled)</MatButton>
<MatButton Unelevated="true" Id="second-row-button">Alarms and warnings</MatButton>
<MatButton Unelevated="true" Id="second-row-button">Assist</MatButton>



@code {
    //public PumpInfo pumpInfo { get; set; }

    public void test()
    {
        //PumpInfo test = iOTHub.Receive().Result;
        //pumpInfo = test;
    }

    protected override void OnInitialized()
    {
        IOTHub iOTHub = new IOTHub("HostName=IotProjekt.azure-devices.net;DeviceId=Pumpe1;SharedAccessKey=ZicGAUZfLLE4CcxTc4oCqz0gpm6i3ZzpuP+NG2oXxCs=");
        base.OnInitialized();
        test();
    }



    public PumpInfo SelectedPump { get; set; }
    //Pump pump = new Pump
    //{
    //    Speed = 863,
    //    ControlMode = "Constant Mode",
    //    OperatingMode = "Normal",
    //    Setpoint = 3
    //};
}

